src/main/resources/wsdl/user.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/guides/gs-producing-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">
			<xs:element name="getUserRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getUserResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="user" type="tns:User" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="User">
				<xs:sequence>
					<xs:element name="firstName" type="xs:string" />
					<xs:element name="lastName" type="xs:string" />
					<xs:element name="email" type="xs:string" />
					<xs:element name="id" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getUserRequest">
		<wsdl:part element="tns:getUserRequest" name="getUserRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUserResponse">
		<wsdl:part element="tns:getUserResponse" name="getUserResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="UsersPort">
		<wsdl:operation name="getUser">
			<wsdl:input message="tns:getUserRequest" name="getUserRequest"></wsdl:input>
			<wsdl:output message="tns:getUserResponse" name="getUserResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UsersPortSoap11" type="tns:UsersPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getUser">
			<soap:operation soapAction="" />
			<wsdl:input name="getUserRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getUserResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UsersPortService">
		<wsdl:port binding="tns:UsersPortSoap11" name="UsersPortSoap11">
			<soap:address location="http://localhost:8080/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>