src/main/resources/wsdl/user.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/" name="IProfilesService">
<wsdl:types>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
<xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
<xsd:import namespace="http://schemas.datacontract.org/2004/07/System"/>
<xsd:element name="GetProfile">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="1" name="id" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="GetProfileResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="1" name="GetProfileResult" type="tns:Profile"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="Profile">
<xsd:sequence>
<xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string"/>
<xsd:element minOccurs="1" maxOccurs="1" name="age" type="xsd:int"/>
<xsd:element minOccurs="0" maxOccurs="1" name="occupation" type="xsd:string"/>
<xsd:element minOccurs="0" maxOccurs="1" name="gender" type="xsd:string"/>
<xsd:element minOccurs="0" maxOccurs="1" name="city" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
</wsdl:types>
<wsdl:message name="IProfilesService_GetProfile_InputMessage">
<wsdl:part name="parameters" element="tns:GetProfile"/>
</wsdl:message>
<wsdl:message name="IProfilesService_GetProfile_OutputMessage">
<wsdl:part name="parameters" element="tns:GetProfileResponse"/>
</wsdl:message>
<wsdl:portType name="IProfilesService">
<wsdl:operation name="GetProfile">
<wsdl:input message="tns:IProfilesService_GetProfile_InputMessage"/>
<wsdl:output message="tns:IProfilesService_GetProfile_OutputMessage"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="BasicHttpBinding_IProfilesService_soap" type="tns:IProfilesService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="GetProfile">
<soap:operation soapAction="http://tempuri.org/IProfilesService/GetProfile" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IProfilesService">
<wsdl:port name="BasicHttpBinding_IProfilesService_soap" binding="tns:BasicHttpBinding_IProfilesService_soap">
<soap:address location="http://interface-y6bebo7xta-uc.a.run.app/tUNderProfilesWS.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>